@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Modal.cshtml";
}

@section PluginsJS {
    <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js"></script>
}

@using Oct.Framework.TestWeb.Areas.Premission.Models;

@model CommonUserRoleDTO

<div class="container">
    @using (Html.BeginForm("Edit", "CommonUserRole", FormMethod.Post, new { @class = "J_FormValidate" }))
    {
        <div class="form form-horizontal">
            @Html.HiddenFor(d => d.Id)		 

            <div class="form-group">
							 <label class="col-xs-3 control-label"><i class="fa fa-asterisk "></i>
				 				UserId</label>
                <div class="col-xs-5">
                    @Html.TextBoxFor(p => p.UserId, new { @class = "form-control required" })
                </div>
                <label class="col-xs-4 help-inline J_ValidateMsg"></label>
            </div>
            <div class="form-group">
							 <label class="col-xs-3 control-label"><i class="fa fa-asterisk "></i>
				 				RoleId</label>
                <div class="col-xs-5">
                    @Html.TextBoxFor(p => p.RoleId, new { @class = "form-control required" })
                </div>
                <label class="col-xs-4 help-inline J_ValidateMsg"></label>
            </div>
            <div class="form-group">
				
                <label class="col-xs-3 control-label"><i class="fa fa-asterisk required"></i>
								CreateDate</label>
                <div class="col-xs-5">
	 
                    @Html.TextBoxFor(p => p.CreateDate, new { @class = "form-control" })
                </div>
                <label class="col-xs-4 help-inline J_ValidateMsg"></label>
            </div>
            <div class="form-group">
				
                <label class="col-xs-3 control-label"><i class="fa fa-asterisk required"></i>
								ModifyDate</label>
                <div class="col-xs-5">
	 
                    @Html.TextBoxFor(p => p.ModifyDate, new { @class = "form-control" })
                </div>
                <label class="col-xs-4 help-inline J_ValidateMsg"></label>
            </div>

            <div class="form-group">
                <div class="col-xs-9 col-xs-offset-3">
                    <button type="submit" value="新增" class="btn blue"><i class="fa fa-plus"></i>&nbsp;编辑</button>
                </div>
            </div>
        </div>
    }
</div>
