@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Modal.cshtml";
}

@section PluginsJS {
    <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js"></script>
}


@using Oct.Framework.MvcExt.HtmlInput
@using Oct.Framework.TestWeb.Areas.Premission.Models
@using Oct.Framework.TestWeb.Code
@model Oct.Framework.TestWeb.Areas.Premission.Models.CommonUserDTO

<div class="container">
    @using (Html.BeginForm("Create", "CommonUser", FormMethod.Post, new { @class = "J_FormValidate" }))
    {
        <div class="form form-horizontal">
            <div class="form-group">
                <label class="col-xs-3 control-label"><i class="fa fa-asterisk required"></i>用户名</label>
                <div class="col-xs-5">
                    @Html.TextBoxFor(p => p.Account, new { @class = "form-control required" })
                </div>
                <label class="col-xs-4 help-inline J_ValidateMsg"></label>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label"><i class="fa fa-asterisk required"></i>姓名</label>
                <div class="col-xs-5">
                    @Html.TextBoxFor(p => p.UserName, new { @class = "form-control required" })
                </div>
                <label class="col-xs-4 help-inline J_ValidateMsg"></label>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label"><i class="fa fa-asterisk required"></i>密码</label>
                <div class="col-xs-5">
                    @Html.PasswordFor(p => p.Password, new { @class = "form-control required" })
                </div>
                <label class="col-xs-4 help-inline J_ValidateMsg"></label>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label"><i class="fa fa-asterisk required"></i>状态</label>
                <div class="col-xs-5">
                    @(Html.DropDownListEnumFor<CommonUserDTO,int,Status>(p => p.Status, new { @class = "form-control required" }))
                </div>
                <label class="col-xs-4 help-inline J_ValidateMsg"></label>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label"><i class="fa fa-asterisk required"></i>电话</label>
                <div class="col-xs-5">

                    @Html.TextBoxFor(p => p.Phone, new { @class = "form-control" })
                </div>
                <label class="col-xs-4 help-inline J_ValidateMsg"></label>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label"><i class="fa fa-asterisk required"></i>邮箱</label>
                <div class="col-xs-5">

                    @Html.TextBoxFor(p => p.Email, new { @class = "form-control" })
                </div>
                <label class="col-xs-4 help-inline J_ValidateMsg"></label>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label"><i class="fa fa-asterisk required"></i>传真</label>
                <div class="col-xs-5">

                    @Html.TextBoxFor(p => p.Fax, new { @class = "form-control" })
                </div>
                <label class="col-xs-4 help-inline J_ValidateMsg"></label>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label"><i class="fa fa-asterisk required"></i>QQ</label>
                <div class="col-xs-5">

                    @Html.TextBoxFor(p => p.QQ, new { @class = "form-control" })
                </div>
                <label class="col-xs-4 help-inline J_ValidateMsg"></label>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label"><i class="fa fa-asterisk required"></i>地址</label>
                <div class="col-xs-5">

                    @Html.TextBoxFor(p => p.Address, new { @class = "form-control" })
                </div>
                <label class="col-xs-4 help-inline J_ValidateMsg"></label>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label"><i class="fa fa-asterisk required"></i>性别</label>
                <div class="col-xs-5">

                    @Html.TextBoxFor(p => p.Gander, new { @class = "form-control" })
                </div>
                <label class="col-xs-4 help-inline J_ValidateMsg"></label>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label"><i class="fa fa-asterisk required"></i>手机</label>
                <div class="col-xs-5">

                    @Html.TextBoxFor(p => p.Mobile, new { @class = "form-control" })
                </div>
                <label class="col-xs-4 help-inline J_ValidateMsg"></label>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label"><i class="fa fa-asterisk required"></i>身份证号码</label>
                <div class="col-xs-5">

                    @Html.TextBoxFor(p => p.IDNumber, new { @class = "form-control" })
                </div>
                <label class="col-xs-4 help-inline J_ValidateMsg"></label>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label"><i class="fa fa-asterisk required"></i>头像</label>
                <div class="col-xs-5">

                    @Html.TextBoxFor(p => p.Avatar, new { @class = "form-control" })
                </div>
                <label class="col-xs-4 help-inline J_ValidateMsg"></label>
            </div>


            <div class="form-group">
                <div class="col-xs-9 col-xs-offset-3">
                    <button type="submit" value="新增" class="btn blue"><i class="fa fa-plus"></i>&nbsp;新增</button>
                </div>
            </div>
        </div>
    }
</div>
